body {
    overflow: auto;
    background-color: #E3F6FF;
  }
input::placeholder {
    color: white;
  }

  

   #circletop {
    background-color: rgba(43, 234, 142, 1);
    width: 1029px;
    height:1029px;
    border-radius: 50%;
    top: -350px;
    left: 654px;
    /* transform: translateX(-50%); */
  } 
  
  #circlebottom {
    background-color: rgba(43, 234, 142, 1);
    width: 562px;
    height: 562px;
    border-radius: 50%;
    top:645px;
    left: -188px;
    /* transform: translateX(-50%); */
  }

  .placeholder-white::placeholder {
    color: white;
  }
  
  /* Media query for smaller screens */
  @media screen and (max-width: 1157px) {
    #circletop {
      width: 150px;
      height: 150px;
    }
  
    #circlebottom {
      width: 100px;
      height: 100px;
    }
  }

  .item{
    background-color: aqua;
    height: 122px;
    width: 130px;
  }

/* Add this to your CSS file */
.no-border-dropdown-menu {
    .ant-select-dropdown-menu-item {
        border: none !important; /* Use !important to override default styles */
    }
}